.product_button1{
  font-weight: bolder;
  font-size:25px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eeff00;
  color: white;
  border-radius: 5px;
}
.product_button2{
  font-weight: bolder;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
}
button+span{
  font-size: 30px;
  font-weight: bolder;
  padding: 10px   ;
}
.products{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product_image{
  height: 250px;
}
.total_form{
  width: auto;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
  margin: 20px;
}
.product_data>h5{
  color: hsl(241, 100%, 50%);
  text-shadow: 1px 1px 1px black;
}
.product_data>h4{
  color: green;
  text-shadow: 1px 1px 1px black;
}
.product_data>p{
  color: grey;
  font-weight: bold;
  
}

.product_data>span{
  color: grey;
  font-weight: bold;
  font-size: 25px;
  margin: 10px;
  text-shadow: 1px 1px 1px black;     
}

